body{
	font-size: 16px;
}
.pd-0{
	padding-left:5px;
	padding-right:5px;
}
.w-250{
	width: 150px;
}
.mg-0{
	margin: 0;
}
.text-black{
	color:black;
}
.form-control {
	border-radius:0px;
	border:1px solid black;
	padding-left:5px;
}
.btn{
	padding:0px 16px;
	border:1px solid black;
	font-size: 17px;
	background-color: #E6E6E6;
}
.btn, .form-control{
height: 30px;
}
h1{
	font-size:40px; 
	display: inline-block;
}
h1,h5,.navbar-form{
	margin:0px;
}

.border{
	border-left:2px solid black;
	height: 26px;
	margin-top:2px;
	margin-right:15px;
	display: inline-block;
}
a{
	color:black;
}
.icono{
	margin-right: 6px;
}
/*nav tbas*/
section{
	outline:1px solid green;
	padding:0% 2.5%;
}
.nav-tabs{
	background-color:#D6D6D6;
	padding-top: 3.5%;
	font-family: 600;
}
.nav-tabs li:first-child{
	margin-left: 15px;
}
.nav-tabs li a {
    border-radius: 0px;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
}
/*columna1*/
#noticia .history{
	padding: 3px 10px;
	color:white;
	background-color: #929292;
	display:inline-block;
}
.articulo{
	position: relative;
}
	.articulo .border{
		position: absolute;
		height: 13px;
		margin-top: 6px;
	}
	.articulo span{
		font-weight: 600;
		font-size: 1.1rem;
		margin-right:5px;
	}
	.articulo small{
		font-size: 1rem;
		color:rgba(0,0,0,.5);
		margin-left: 8px;
	}


.sub{
		font-weight: 600;
		font-size: 15px;
	}

.art{
	border-bottom:1px solid rgba(0,0,0,.2);
	padding-bottom: 2%;
}
.art .webzone{
	display: inline-block;
	color:white;
	background-color:black;
	padding:0px 15px;
	margin-right: 1%;
	font-size: 13px; 
}
.art .linkunderblack{
	font-size: 11px;
	text-decoration: underline;
}
.art-info .imagen{
	width: 100%;
	height: 160px;
	background-color: #AAAAAA;
	font-weight: 600;
	padding-top: 80px;
	
}
	.art-info .imagen p{
		color:black;
		text-align: center;
		transform:translatey(-50%);
		font-size: 16px;
	
	}
.art-info p{
	width: 100%;
	font-size: 12px;
	font-weight: 600;
	color:rgba(0,0,0,0.3);
	text-align: justify;
}
	.art-info .space{
		line-height: 3;
	}
	.art-info .etiquetas{
		padding-right:30%;
	}
	.art-info .etiquetas .icon{
		position: relative;
	}

	.art-info .etiquetas .cuadradito{
		width: 8px;
		height: 11px;
		background-color: #333333;
		display: inline-block;
		position: absolute;
		top:0;
		left:0;
		margin-left: -5px;
	}
	.art-info .etiquetas .sub{
		font-size: 11px;
	}
	.under{
		color:rgba(0,0,0,.5);
		text-decoration: underline;
	}
/*columna2*/
.little-art{
	padding:10px 10px 0px 0px;
}
.little-art .img{
	width: 74px;
	height: 74px;
	padding-top:37px;
	margin-right: 20px;
}
.little-art .img p{
	transform:translatey(-50%);
}

.little-art .art-info small{
	font-size: 11px;
	color:rgba(0,0,0,.3);
}
.little-art .art-info{
	display: inline-flex;
}

.more{
	border-top:1px solid rgba(0,0,0,.3);
	margin-top: 5%;
	padding-right: 30%;
}

.f-12{
	font-size: 13px;
	font-weight: 600;
	margin-top: 5%;
	display: inline-block;
}
.informacion{
	font-size: 18px;
	font-weight: 600;
	display: block;
}
/*columna3*/
.etiquetas ul{
	list-style-type:none;
	padding: 10px 0 10px 15px ;
	border-bottom: 1px solid rgba(0,0,0,.3)
}
.bck-graylight{
	background-color: #EBEBEB;
	padding: 3% 20% 5% 8px ;
	
}
.bck-graylight h5{
	margin-top: 10%;
}
.bck-graylight p,.bck-graylight h5{
	font-weight: 600;
	font-size: 11px;
	color:rgba(0,0,0,.3);
}
@media (min-width: 701px){
	header{
	margin: 1% auto 0%;
	outline:1px solid tomato;
	width: 95%;
	}
	.container-fluid{
		padding:0;
	}
	.navbar-form {
    padding:0px; 
}
	.navbar-collapse {
    padding-right: 0px; 
    padding-left: 0px; 
	}
	.navbar-nav>li>a {
    padding-top: 7px; 
    padding-bottom: 7px; 
	}
	.navbar {
	     margin-bottom: 0px; 
	}


}
@media (max-width: 767px){
	.navbar .container-fluid{
		background: rgba(0,0,0,.2);
	}
	.navbar-collapse{
		background-color: rgba(0,0,0,.1);
	}
	.navbar-toggle {
		display: inline-block;
		padding: 0px 5px;
		font-size: 19px;
		color:black;
	}
	.border{
		display:none;
	}
}
